<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      
<script src="https://kit.fontawesome.com/59f0f74002.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>About</title>
     <link rel="icon" href="/img/picslinksmead.png">
</head>
<body>
    <div class="main-content">
        {{>navbar}}
       <i class="fa-solid fa-address-card" id="icon"></i>
   {{>header}}   
    <img class="portrait" src="/img/bgcwd.jpeg" alt="" >
    <p>Hello users! My name is Carmani, and I am a coding apprentice at Road to Hire. I created this weather app to get comfortable with Node JS. With the help of Mr. Andrew Mead, I worked with the weather stack API to create a simple, aesthetic user interface. I hope you enjoy it! </p>
   </div>
    {{>footer}}


</body>
</html>